<!doctype html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>HALUM OTS - VENDOR</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap"
        rel="stylesheet">

    <link href="{% static 'assets/mainfilecss/css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'assets/mainfilecss/css/bootstrap-icons.css' %}" rel="stylesheet">

    <link href="{% static 'assets/mainfilecss/css/templatemo-topic-listing.css' %}" rel="stylesheet">
</head>

<body id="top">

    <main>

        {% include 'vendor_navbar.html'%}

        <section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
            <div class="container">
                <div class="row">

                    <div class="col-lg-8 col-12 mx-auto">
                        <h1 class="text-white text-center">Vendor Change password</h1>

                        <h6 class="text-center">platform for creatives around the world</h6>
                    </div>

                </div>
            </div>
        </section>
        <section class="section-padding section-bg d-flex justify-content-center align-items-center">
            <div class="container">
                <div class="custom-block bg-white shadow-lg d-flex align-items-start">
                    <form method="POST" class="w-100">
                        {% csrf_token %}
                        <div class="row">

                            <div class="mb-3">
                                <label for="Old Password" class="form-label"> Enter Old Password</label>
                                <input type="password" class="form-control" id="old_password" name="old_password" required>
                            </div>

                            <div class="mb-3">
                                <label for="New password" class="form-label">Enter New password</label>
                                <input type="password" class="form-control" id="new_password" name="new_password" required>
                            </div>

                            <div class="mb-3">
                                <label for="gender" class="form-label">Confirm New password</label>
                                <input type="password" class="form-control" id="confirm_new_password"
                                    name="confirm_new_password" required>
                            </div>
                            <button type="submit" class="btn custom-btn">Change Password</button>

                        </div>
                        
                    </form>
                </div>
            </div>
        </section>
    </main>

    {% include 'vendor_footer.html'%}

    <!-- JAVASCRIPT FILES -->
    <script src="{% static 'assets/mainfilecss/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/mainfilecss/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/mainfilecss/js/jquery.sticky.js' %}"></script>
    <script src="{% static 'assets/mainfilecss/js/click-scroll.js' %}"></script>
    <script src="{% static 'assets/mainfilecss/js/custom.js ' %}"></script>
</body>

</html>