<!doctype html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>HALUM OTS - VENDOR</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap"
        rel="stylesheet">

    <link href="{% static 'assets/mainfilecss/css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'assets/mainfilecss/css/bootstrap-icons.css' %}" rel="stylesheet">

    <link href="{% static 'assets/mainfilecss/css/templatemo-topic-listing.css' %}" rel="stylesheet">
</head>

<body id="top">

    <main>

        {% include 'vendor_navbar.html'%}

        <section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
            <div class="container">
                <div class="row">

                    <div class="col-lg-8 col-12 mx-auto">
                        <h1 class="text-white text-center">How does it work?</h1>

                        <h6 class="text-center">platform for creatives around the world</h6>
                    </div>

                </div>
            </div>
        </section>
        <section class="timeline-section section-padding" id="section_3">
            <div class="section-overlay"></div>

            <div class="container">
                <div class="row">

                    <div class="col-12 text-center">
                        
                    </div>

                    <div class="col-lg-10 col-12 mx-auto">
                        <div class="timeline-container">
                            <ul class="vertical-scrollable-timeline" id="vertical-scrollable-timeline">
                                <div class="list-progress">
                                    <div class="inner"></div>
                                </div>

                                <li>
                                    <h4 class="text-white mb-3">Your add your items</h4>

                                    <p class="text-white">As a vendor you need to add your data.<br> Your data will be verify by us. and show it on User panel </p>

                                    <div class="icon-holder">
                                      <i class="bi-search"></i>
                                    </div>
                                </li>
                                
                                <li>
                                    <h4 class="text-white mb-3">Costomer choose items</h4>

                                    <p class="text-white">Customer choose the data and book it .</p>

                                    <div class="icon-holder">
                                      <i class="bi-bookmark"></i>
                                    </div>
                                </li>

                                <li>
                                    <h4 class="text-white mb-3"> Enjoy</h4>

                                    <p class="text-white">Enjoy your profit . You dont need to pay for us for this advertise </p>

                                    <div class="icon-holder">
                                      <i class="bi-book"></i>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- <div class="col-12 text-center mt-5">
                        <p class="text-white">
                            Want to learn more?
                            <a href="#" class="btn custom-btn custom-border-btn ms-3">Check out Youtube</a>
                        </p>
                    </div> -->
                </div>
            </div>
        </section>
    </main>

    {% include 'vendor_footer.html'%}


    <!-- JAVASCRIPT FILES -->
    <!-- JAVASCRIPT FILES -->
    <script src="{% static 'assets/mainfilecss/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/mainfilecss/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/mainfilecss/js/jquery.sticky.js' %}"></script>
    <script src="{% static 'assets/mainfilecss/js/click-scroll.js' %}"></script>
    <script src="{% static 'assets/mainfilecss/js/custom.js ' %}"></script>

</body>

</html>