<!doctype html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>HALUM OTS</title>

    <!-- CSS FILES -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap"
        rel="stylesheet">

    <link href="{% static 'assets/mainfilecss/css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'assets/mainfilecss/css/bootstrap-icons.css' %}" rel="stylesheet">

    <link href="{% static 'assets/mainfilecss/css/templatemo-topic-listing.css' %}" rel="stylesheet">
</head>

<body id="top">

    <main>

        {% include 'navbar.html'%}


        <section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
            <div class="container">
                <div class="row">

                    <div class="col-lg-8 col-12 mx-auto">
                        <h1 class="text-white text-center">Welcome</h1>

                        <h6 class="text-center">platform for creatives around the world</h6>
                    </div>

                </div>
            </div>
        </section>
        <section class="explore-section section-padding" id="section_2">
            <div class="container-fluid">
                <div class="row">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="Airlines-tab" data-bs-toggle="tab"
                                data-bs-target="#Airlines-tab-pane" type="button" role="tab"
                                aria-controls="Airlines-tab-pane" aria-selected="true">Airlines</button>
                        </li>

                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="Bus-tab" data-bs-toggle="tab" data-bs-target="#Bus-tab-pane"
                                type="button" role="tab" aria-controls="Bus-tab-pane" aria-selected="false">Bus</button>
                        </li>

                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="Train-tab" data-bs-toggle="tab"
                                data-bs-target="#Train-tab-pane" type="button" role="tab" aria-controls="Train-tab-pane"
                                aria-selected="false">Train</button>
                        </li>

                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="Hotel-tab" data-bs-toggle="tab"
                                data-bs-target="#Hotel-tab-pane" type="button" role="tab" aria-controls="Hotel-tab-pane"
                                aria-selected="false">Hotel</button>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="Airlines-tab-pane" role="tabpanel"
                                aria-labelledby="Airlines-tab" tabindex="0">

                                <form class="custom-block bg-white shadow-lg p-4" method="POST" action="{% url 'searchresult' %}" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="row align-items-center">
                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <label for="sit_type" class="form-label">Airline Class</label>
                                                <select class="form-select" id="airline_class" name="airline_class" required>
                                                    {% for airline_class in airline_classes %}
                                                    <option value="{{ airline_class.airline_class }}">{{ airline_class.airline_class }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <label for="airline_from" class="form-label">From</label>
                                                <select class="form-select" id="airline_from" name="airline_from" required>
                                                    {% for airport in airports %}
                                                    <option value="{{ airport.airport }}">{{ airport.airport }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <label for="airline_to" class="form-label">To</label>
                                                <select class="form-select" id="airline_to" name="airline_to" required>
                                                    {% for airport in airports %}
                                                    <option value="{{ airport.airport }}">{{ airport.airport }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <label for="airline_date" class="form-label">Date</label>
                                                <input type="date" class="form-control" id="airline_date"
                                                    name="airline_date" required>
                                            </div>
                                            <div class="mb-3">
                                                <label for="economy-persons" class="form-label">Number of
                                                    Persons</label>
                                                <input type="number" class="form-control" id="persons"
                                                    name="persons" min="1" max="4" required>
                                                <input type="hidden" class="form-control" id="type" name="type" value="Airline" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <button type="submit" class="btn custom-btn" >Search</button>
                                    </div>
                                </form>
                            </div>

                            <div class="tab-pane fade" id="Bus-tab-pane" role="tabpanel" aria-labelledby="Bus-tab"
                                tabindex="0">
                                <form class="custom-block bg-white shadow-lg p-4" method="POST" action="{% url 'searchresult' %}" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="row align-items-center">
                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <label for="sit_type" class="form-label">Class</label>
                                                <select class="form-select" id="bus_class" name="bus_class" required>
                                                    {% for bus_class in busClasses %}
                                                    <option value="{{ bus_class.bus_class }}">{{ bus_class.bus_class }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <label for="bus_from" class="form-label">From</label>
                                                <select class="form-control" id="bus_from" name="bus_from">
                                                    {% for bus_Terminal in bus_Terminals %}
                                                    <option value="{{ bus_Terminal.bus_terminal }}">{{ bus_Terminal.bus_terminal }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <label for="bus_to" class="form-label">To</label>
                                                <select class="form-control" id="bus_to" name="bus_to">
                                                    {% for bus_Terminal in bus_Terminals %}
                                                    <option value="{{ bus_Terminal.bus_terminal }}">{{bus_Terminal.bus_terminal}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <label for="economy-persons" class="form-label">Number of
                                                    Persons</label>
                                                <input type="number" class="form-control" id="persons"
                                                    name="persons" min="1" max="4" required>

                                            </div>
                                            <div class="mb-3">
                                                <label for="bus_date" class="form-label">Date</label>
                                                <input type="date" class="form-control" id="bus_date"
                                                    name="bus_date" required>
                                                <input type="hidden" class="form-control" id="type" name="type" value="Bus" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <button type="submit" class="btn custom-btn">Search</button>
                                    </div>
                                </form>
                            </div>

                            <div class="tab-pane fade" id="Train-tab-pane" role="tabpanel" aria-labelledby="Train-tab"
                                tabindex="0">
                                <form class="custom-block bg-white shadow-lg p-4">
                                    <div class="row align-items-center">
                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <label for="sit_type" class="form-label">Type of Seat</label>
                                                <select class="form-control" id="sit_type" name="sit_type">
                                                    <option value="Coach">Coach</option>
                                                    <option value="Bussiness">Bussiness</option>
                                                    <option value="First Class">First Class</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <label for="train_from" class="form-label">From</label>
                                                <select class="form-control" id="train_from" name="train_from">
                                                    {% for train in trains %}
                                                    <option value="{{ train.train_from }}">{{ train.train_from}}
                                                    </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <label for="train_to" class="form-label">To</label>
                                                <select class="form-control" id="train_to" name="train_to">
                                                    {% for train in trains %}
                                                    <option value="{{ train.train_to }}">{{ train.train_to}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <label for="economy-persons" class="form-label">Number of
                                                    Persons</label>
                                                <input type="number" class="form-control" id="economy-persons"
                                                    name="persons" min="1" required>

                                            </div>
                                            <div class="mb-3">
                                                <label for="airline_date" class="form-label">Date</label>
                                                <input type="date" class="form-control" id="airline_date"
                                                    name="airline_date" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <button type="submit" class="btn custom-btn">Search</button>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane fade" id="Hotel-tab-pane" role="tabpanel" aria-labelledby="Hotel-tab"
                                tabindex="0">
                                <form class="custom-block bg-white shadow-lg p-4">
                                    <div class="row align-items-center">
                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <label for="sit_type" class="form-label">Type of Hotel</label>
                                                <select class="form-control" id="sit_type" name="sit_type">
                                                    <option value="Budget">Budget</option>
                                                    <option value="Boutique">Boutique</option>
                                                    <option value="Luxury">Luxury</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <label for="bus_from" class="form-label">city</label>
                                                <select class="form-control" id="hotel_city" name="bus_from">
                                                    {% for hotel in hotels %}
                                                    <option value="{{ hotel.address }}">{{ hotel.address}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <div class="mb-3">
                                                    <label for="airline_date" class="form-label">Date</label>
                                                    <input type="date" class="form-control" id="airline_date"
                                                        name="airline_date" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <label for="economy-persons" class="form-label">Number of
                                                    Persons</label>
                                                <input type="number" class="form-control" id="economy-persons"
                                                    name="persons" min="1" required>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <button type="submit" class="btn custom-btn">Search</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div id="search-results" style="display:none;">
        
        </section>
        </div>


        <section class="section-padding section-bg">
            <div class="container">
                <div class="row">

                    <div class="col-lg-12 col-12">
                        <h3 class="mb-4">Trending Topics</h3>
                    </div>

                    <div class="col-lg-6 col-md-6 col-12 mt-3 mb-4 mb-lg-0">
                        <div class="custom-block bg-white shadow-lg">
                            <a href="topics-detail.html">
                                <div class="d-flex">
                                    <div>
                                        <h5 class="mb-2">Investment</h5>

                                        <p class="mb-0">Investment involves allocating resources such as money, time, or
                                            effort
                                            into assets or ventures with the expectation of generating future income
                                            or appreciation in value.</p>
                                    </div>
                                </div>

                                <img src="{% static 'assets/mainfilecss/images/topics/undraw_Finance_re_gnv2.png' %}"
                                    class="custom-block-image img-fluid" alt="">
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-12 mt-lg-3">
                        <div class="custom-block custom-block-overlay">
                            <div class="d-flex flex-column h-100">
                                <img src="{% static 'assets/mainfilecss/images/businesswoman-using-tablet-analysis.jpg' %}"
                                    class="custom-block-image img-fluid" alt="">

                                <div class="custom-block-overlay-text d-flex">
                                    <div>
                                        <h5 class="text-white mb-2">Finance</h5>

                                        <p class="text-white">Finance encompasses the management of funds and financial
                                            resources within organizations or individuals to optimize their allocation,
                                            investment, and utilization. It involves activities such as budgeting,
                                            investing, lending,
                                            borrowing, and risk management to achieve financial goals and ensure
                                            sustainability.</p>
                                        <a href="#" class="btn custom-btn mt-2 mt-lg-3">Learn More</a>
                                    </div>
                                </div>

                                <div class="social-share d-flex">
                                    <p class="text-white me-4">Share:</p>

                                    <ul class="social-icon">
                                        <li class="social-icon-item">
                                            <a href="#" class="social-icon-link bi-twitter"></a>
                                        </li>

                                        <li class="social-icon-item">
                                            <a href="#" class="social-icon-link bi-facebook"></a>
                                        </li>

                                        <li class="social-icon-item">
                                            <a href="#" class="social-icon-link bi-pinterest"></a>
                                        </li>
                                    </ul>

                                    <a href="#" class="custom-icon bi-bookmark ms-auto"></a>
                                </div>

                                <div class="section-overlay"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>




        <!-- The Modal  Display Search Result -->
        <div class="modal" id="bussearchresult">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Available Bus</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                       

                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">

                    </div>

                </div>
            </div>
        </div>
    </main>

    {% include 'footer.html'%}


    <!-- JAVASCRIPT FILES -->

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'assets/mainfilecss/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/mainfilecss/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/mainfilecss/js/jquery.sticky.js' %}"></script>
    <script src="{% static 'assets/mainfilecss/js/click-scroll.js' %}"></script>
    <script src="{% static 'assets/mainfilecss/js/custom.js ' %}"></script>

   


</body>

</html>