<!doctype html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>HALUM OTS</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap"
        rel="stylesheet">

    <link href="{% static 'assets/mainfilecss/css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'assets/mainfilecss/css/bootstrap-icons.css' %}" rel="stylesheet">

    <link href="{% static 'assets/mainfilecss/css/templatemo-topic-listing.css' %}" rel="stylesheet">
</head>

<body id="top">

    <main>

        {% include 'navbar.html'%}


        <section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
            <div class="container">
                <div class="row">

                    <div class="col-lg-8 col-12 mx-auto">
                        <h1 class="text-white text-center">Welcome</h1>

                        <h6 class="text-center">platform for creatives around the world</h6>
                    </div>

                </div>
            </div>
        </section>
        <section class="explore-section section-padding" id="section_2">
            <div class="container-fluid">
                <div class="row">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="Airlines-tab" data-bs-toggle="tab"
                                data-bs-target="#Airlines-tab-pane" type="button" role="tab"
                                aria-controls="Airlines-tab-pane" aria-selected="true">Airlines</button>
                        </li>

                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="Bus-tab" data-bs-toggle="tab" data-bs-target="#Bus-tab-pane"
                                type="button" role="tab" aria-controls="Bus-tab-pane" aria-selected="false">Bus</button>
                        </li>

                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="Train-tab" data-bs-toggle="tab"
                                data-bs-target="#Train-tab-pane" type="button" role="tab" aria-controls="Train-tab-pane"
                                aria-selected="false">Train</button>
                        </li>

                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="Hotel-tab" data-bs-toggle="tab"
                                data-bs-target="#Hotel-tab-pane" type="button" role="tab" aria-controls="Hotel-tab-pane"
                                aria-selected="false">Hotel</button>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="Airlines-tab-pane" role="tabpanel"
                                aria-labelledby="Airlines-tab" tabindex="0">

                                <form class="custom-block bg-white shadow-lg p-4">
                                    <div class="row align-items-center">
                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <label for="sit_type" class="form-label">Type of Seat</label>
                                                <select class="form-control" id="sit_type" name="type">
                                                    <option value="Economy">Economy</option>
                                                    <option value="Bussiness">Bussiness</option>
                                                    <option value="First Class">First Class</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <label for="airline_from" class="form-label">From</label>
                                                <select class="form-control" id="airline_from" name="airline_from">
                                                    {% for airline in airlines %}
                                                        <option value="{{ airline.airline_from }}">{{ airline.airline_from}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <label for="airline_to" class="form-label">To</label>
                                                <select class="form-control" id="airline_to" name="airline_to">
                                                    {% for airline in airlines %}
                                                        <option value="{{ airline.airline_to }}">{{airline.airline_to}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <label for="airline_date" class="form-label">Date</label>
                                                <input type="date" class="form-control" id="airline_date" name="airline_date" required>
                                            </div>
                                            <div class="mb-3">
                                                <label for="economy-persons" class="form-label">Number of Persons</label>
                                                <input type="number" class="form-control" id="economy-persons" name="persons" min="1" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <button type="submit" class="btn custom-btn">Search</button>
                                    </div>
                                </form>
                            </div>

                            <div class="tab-pane fade" id="Bus-tab-pane" role="tabpanel" aria-labelledby="Bus-tab"
                                tabindex="0">
                                <form class="custom-block bg-white shadow-lg p-4">
                                    <div class="row align-items-center">
                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <label for="sit_type" class="form-label">Type of Seat</label>
                                                <select class="form-control" id="sit_type" name="sit_type">
                                                    <option value="standard">Standard</option>
                                                    <option value="premium">Premium</option>
                                                    <option value="VIP">VIP</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <label for="bus_from" class="form-label">From</label>
                                                <select class="form-control" id="bus_from" name="bus_from">
                                                    {% for bus in buss %}
                                                        <option value="{{ bus.bus_from }}">{{ bus.bus_from}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <label for="bus_to" class="form-label">To</label>
                                                <select class="form-control" id="bus_to" name="bus_to">
                                                    {% for bus in buss %}
                                                        <option value="{{ bus.bus_to }}">{{ bus.bus_to}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <label for="economy-persons" class="form-label">Number of
                                                    Persons</label>
                                                <input type="number" class="form-control" id="economy-persons"
                                                    name="persons" min="1" required>
                                                    
                                            </div>
                                            <div class="mb-3">
                                                <label for="airline_date" class="form-label">Date</label>
                                                <input type="date" class="form-control" id="airline_date" name="airline_date" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <button type="submit" class="btn custom-btn">Search</button>
                                    </div>
                                </form>
                            </div>

                            <div class="tab-pane fade" id="Train-tab-pane" role="tabpanel" aria-labelledby="Train-tab"
                                tabindex="0">
                                <form class="custom-block bg-white shadow-lg p-4">
                                    <div class="row align-items-center">
                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <label for="sit_type" class="form-label">Type of Seat</label>
                                                <select class="form-control" id="sit_type" name="sit_type">
                                                    <option value="Coach">Coach</option>
                                                    <option value="Bussiness">Bussiness</option>
                                                    <option value="First Class">First Class</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <label for="train_from" class="form-label">From</label>
                                                <select class="form-control" id="train_from" name="train_from">
                                                    {% for train in trains %}
                                                        <option value="{{ train.train_from }}">{{ train.train_from}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <label for="train_to" class="form-label">To</label>
                                                <select class="form-control" id="train_to" name="train_to">
                                                    {% for train in trains %}
                                                        <option value="{{ train.train_to }}">{{ train.train_to}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <label for="economy-persons" class="form-label">Number of
                                                    Persons</label>
                                                <input type="number" class="form-control" id="economy-persons"
                                                    name="persons" min="1" required>
                                                    
                                            </div>
                                            <div class="mb-3">
                                                <label for="airline_date" class="form-label">Date</label>
                                                <input type="date" class="form-control" id="airline_date" name="airline_date" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <button type="submit" class="btn custom-btn">Search</button>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane fade" id="Hotel-tab-pane" role="tabpanel" aria-labelledby="Hotel-tab"
                                tabindex="0">
                                <form class="custom-block bg-white shadow-lg p-4">
                                    <div class="row align-items-center">
                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <label for="sit_type" class="form-label">Type of Hotel</label>
                                                <select class="form-control" id="sit_type" name="sit_type">
                                                    <option value="Budget">Budget</option>
                                                    <option value="Boutique">Boutique</option>
                                                    <option value="Luxury">Luxury</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <label for="bus_from" class="form-label">city</label>
                                                <select class="form-control" id="hotel_city" name="bus_from">
                                                    {% for hotel in hotels %}
                                                        <option value="{{ hotel.address }}">{{ hotel.address}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <div class="mb-3">
                                                    <label for="airline_date" class="form-label">Date</label>
                                                    <input type="date" class="form-control" id="airline_date" name="airline_date" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <label for="economy-persons" class="form-label">Number of
                                                    Persons</label>
                                                <input type="number" class="form-control" id="economy-persons"
                                                    name="persons" min="1" required>
                                                    
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <button type="submit" class="btn custom-btn">Search</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div id="search-results" style="display:none;">
            <div id="Hotel" class="service px-4 bg-white py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 mb-4">
                            <h1 class="text-center mb-5">Hotels</h1>
                        </div>
                    </div>
                    <div class="row gy-4">
                        {% for hotel in hotels %}
                            <div class="col-lg-4 col-md-6">
                                <div class="card shadow-md rounded">
                                    <div class="card-body text-center">
                                        <img src="{{ hotel.hotel_picture.url }}" class="img-thumbnail mb-4"
                                            style="height: 200px; width: 200px;" alt="{{hotel.name}}">
                                        <h5 class="card-title fs-6 fw-bold">{{hotel.name}}</h5>
                                        <h5 class="card-title fs-6 fw-bold">Price: {{hotel.price}}</h5>
                                        <p class="card-text">{{hotel.description|truncatewords:30}}</p>
                                        <div class="d-flex justify-content-center">
                                            <a href="{% url 'vendor_edithotel' %}?code={{ hotel.code }}" type="button"
                                                class="btn btn-primary me-2">Edit</a>
                                            <a href="{% url 'vendor_deletehotel'%}?code={{ hotel.code }}" type="button"
                                                class="btn btn-danger">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% empty %}
                            <div class="col-lg-12 col-md-12">
                                <p class="text-center">No hotels found.</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-section px-4 bg-white py-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 mb-4">
                        <h1 class="text-center mb-5">Available Packages</h1>
                    </div>
                </div>
                <div class="row gy-4">
                    {% for hotel in hotels %}
                        <div class="col-lg-4 col-md-6">
                            <div class="card shadow-md rounded">
                                <div class="card-body text-center">
                                    <img src="{{ hotel.hotel_picture.url }}" class="img-thumbnail mb-4"
                                        style="height: 200px; width: 200px;" alt="{{hotel.name}}">
                                    <h5 class="card-title fs-6 fw-bold">{{hotel.name}}</h5>
                                    <h5 class="card-title fs-6 fw-bold">Price: {{hotel.price}}</h5>
                                    <p class="card-text">{{hotel.description|truncatewords:30}}</p>
                                    <div class="d-flex justify-content-center">
                                        <a href="{% url 'vendor_edithotel' %}?code={{ hotel.code }}" type="button"
                                            class="btn btn-primary me-2">Edit</a>
                                        <a href="{% url 'vendor_deletehotel'%}?code={{ hotel.code }}" type="button"
                                            class="btn btn-danger">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <div class="col-lg-12 col-md-12">
                            <p class="text-center">No PackAge found.</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>


        <section class="section-padding section-bg">
            <div class="container">
                <div class="row">

                    <div class="col-lg-12 col-12">
                        <h3 class="mb-4">Trending Topics</h3>
                    </div>

                    <div class="col-lg-6 col-md-6 col-12 mt-3 mb-4 mb-lg-0">
                        <div class="custom-block bg-white shadow-lg">
                            <a href="topics-detail.html">
                                <div class="d-flex">
                                    <div>
                                        <h5 class="mb-2">Investment</h5>

                                        <p class="mb-0">Investment involves allocating resources such as money, time, or
                                            effort
                                            into assets or ventures with the expectation of generating future income
                                            or appreciation in value.</p>
                                    </div>
                                </div>

                                <img src="{% static 'assets/mainfilecss/images/topics/undraw_Finance_re_gnv2.png' %}"
                                    class="custom-block-image img-fluid" alt="">
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-12 mt-lg-3">
                        <div class="custom-block custom-block-overlay">
                            <div class="d-flex flex-column h-100">
                                <img src="{% static 'assets/mainfilecss/images/businesswoman-using-tablet-analysis.jpg' %}"
                                    class="custom-block-image img-fluid" alt="">

                                <div class="custom-block-overlay-text d-flex">
                                    <div>
                                        <h5 class="text-white mb-2">Finance</h5>

                                        <p class="text-white">Finance encompasses the management of funds and financial
                                            resources within organizations or individuals to optimize their allocation,
                                            investment, and utilization. It involves activities such as budgeting,
                                            investing, lending,
                                            borrowing, and risk management to achieve financial goals and ensure
                                            sustainability.</p>
                                        <a href="#" class="btn custom-btn mt-2 mt-lg-3">Learn More</a>
                                    </div>
                                </div>

                                <div class="social-share d-flex">
                                    <p class="text-white me-4">Share:</p>

                                    <ul class="social-icon">
                                        <li class="social-icon-item">
                                            <a href="#" class="social-icon-link bi-twitter"></a>
                                        </li>

                                        <li class="social-icon-item">
                                            <a href="#" class="social-icon-link bi-facebook"></a>
                                        </li>

                                        <li class="social-icon-item">
                                            <a href="#" class="social-icon-link bi-pinterest"></a>
                                        </li>
                                    </ul>

                                    <a href="#" class="custom-icon bi-bookmark ms-auto"></a>
                                </div>

                                <div class="section-overlay"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </main>

    {% include 'footer.html'%}


    <!-- JAVASCRIPT FILES -->

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'assets/mainfilecss/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/mainfilecss/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/mainfilecss/js/jquery.sticky.js' %}"></script>
    <script src="{% static 'assets/mainfilecss/js/click-scroll.js' %}"></script>
    <script src="{% static 'assets/mainfilecss/js/custom.js ' %}"></script>
    <script>
        $(document).ready(function () {
            $('form').on('submit', function (e) {
                e.preventDefault(); // prevent the form from submitting normally

                // show the search results section
                $('#search-results').show();

                // do your search logic here, then populate the search results section with the results
                // for example:
                // $('#search-results').html('<p>Search results:</p>');
            });
        });
    </script>


</body>

</html>