<!doctype html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>HALUM OTS - VENDOR</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap"
        rel="stylesheet">

    <link href="{% static 'assets/mainfilecss/css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'assets/mainfilecss/css/bootstrap-icons.css' %}" rel="stylesheet">

    <link href="{% static 'assets/mainfilecss/css/templatemo-topic-listing.css' %}" rel="stylesheet">
</head>

<body id="top">

    <main>

        {% include 'navbar.html'%}
        <section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-12 mx-auto">
                        <h1 class="text-white text-center">Vendor</h1>
                    </div>

                </div>
            </div>
        </section>

        <section class="section-padding section-bg" style="background-color: #f5f5f5;">
            <div class="container text-center">
                <div class="row">
                    <div class="col-12">
                        <h1>Wrong Password</h1>
                        <p class="lead">The password you entered is incorrect. Please try again.</p>
                        <a href="#" class="btn btn-primary" onclick="history.back()">Go Back</a>
                    </div>
                </div>
            </div>
            <script>
                // Redirect after 5 seconds
                setTimeout(() => {
                    window.history.back();
                }, 5000);
            </script>
        </section>
    </main>

    {% include 'footer.html'%}


    <!-- JAVASCRIPT FILES -->
    <script src="{% static 'assets/mainfilecss/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/mainfilecss/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/mainfilecss/js/jquery.sticky.js' %}"></script>
    <script src="{% static 'assets/mainfilecss/js/click-scroll.js' %}"></script>
    <script src="{% static 'assets/mainfilecss/js/custom.js' %}"></script>
</body>

</html>